<article>
  <div>
    <h2>{{title}}</h2>
    <p>{{post_text}}</p>
  </div>
  <div>
    By {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}" class="text-decoration-none btn btn-outline-light">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>